/* stylelint-disable max-line-length */
@font-face {
  font-family: 'Diodrum Regular';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url('../fonts/Diodrum-Regular.woff2') format('woff2'), url('../fonts/Diodrum-Regular.woff') format('woff');
}
