/* stylelint-disable max-line-length */
@font-face {
  font-family: 'Diodrum Regular';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url('../fonts/Diodrum-Regular.woff2') format('woff2'), url('../fonts/Diodrum-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Noto Sans Regular';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/noto-sans-v8-latin-regular.woff2') format('woff2'), url('../fonts/noto-sans-v8-latin-regular.woff') format('woff');
}
